<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TF6F2MQ');</script>
  <!-- End Google Tag Manager -->
    <meta charset="UTF-9" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6294460253143872"
     crossorigin="anonymous"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=0.0" />

    <link rel="stylesheet" href="https://restbuckoggyimg.s3.ap-south-1.amazonaws.com/style1.css" />

    <title>Oggy</title>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TF6F2MQ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
    <nav class="navigation">
      <a href="/" class="link-reset navigation__logo">
        <img src="https://restbuckoggyimg.s3.ap-south-1.amazonaws.com/assets/logo.png"></img>
      </a>
      <div class="navigation__search search">
        <form class="search__form" action="/restaurant">
          <div class="search__query">
            <input type="text" name="name" autocapitalize="off" autocomplete="off" autocorrect="off" placeholder="Find Restaurants" list="restaurantlist"/>
            <datalist id="restaurantlist">
              {% for item in restaurants %}
              <option value="{{item}}">{{item}}</option>
              {% endfor %}
            </datalist>
            <div class="suggestion suggestion__query"></div>
          </div>
          <button class="search__button">Search</button>
        </form>
      </div>
    </nav>
    <div class="gallery">
      {% for name, address, rating, image in rest_list %}
      <a href="/restaurant?name={{name}}" class="link-reset gallery-card">
        <img class="gallery-card__thumbnail" src="{{image}}"></img>
        <h1 class="gallery-card__name">{{name}}</h1>
        <h3 class="gallery-card__address">{{address}}</h3>
        <div class="gallery-card__rating">
          <div>{{rating}}</div>
          <img src="https://restbuckoggyimg.s3.ap-south-1.amazonaws.com/assets/rating.png" />
        </div>
      </a>
      {% endfor %}
    </div>
    <footer></footer>
  </body>
</html>
